*.pyc
__pycache__/
db.sqlite3
media/
.lab06
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
ENV/
.lab06
venv/
ENV.bak/
venv.bak/
*.bak
*.swp
*.swo